@model DetailsViewModel
@inject UserManager<AppUser> userManager
@inject IFixtures _fixtures


@{
    ViewData["Title"] = "Post details";
    var streak = _fixtures.GetUserStreak(Model.AppUserId);
    var viewer = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="row">
    <div class="col-md-12">
        <div class="card py-2">
            <div class="row">
                <div class="col-md-2 box1 px-1">
                    @if (Model.UserImage != null)
                    {
                        <img src="~/images/@Model.UserImage" class="rounded-circle" style="width: 100%" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="~/images/no-image.jpeg" class="image" style="border-radius: 50%; width: 100%" asp-append-version="true" />

                    }
                </div>
                <div class="col-md-10 box2 px-1">
                    <div class="row">
                        <div class="col-md-5 p-0">
                            @{
                                var user = await userManager.FindByIdAsync(Model.AppUserId.ToString());
                            }
                            <a class="user-name" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.AppUserId"> @user.UserName.Split('@')[0]</a>
                        </div>
                        <div class="col-md-7 text-md-right px-1">

                            @foreach (var outcome in streak)
                            {
                                @if (outcome.ToLower() == "win")
                                {
                                    <span class="bg-success px-1" style="min-width:30px">W</span>
                                }
                                else if (outcome.ToLower() == "lose")
                                {
                                    <span class="bg-danger px-1" style="min-width:40px">L</span>
                                }
                                else
                                {
                                    <span class="bg-warning px-1" style="min-width:40px">P</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="row">
                        <a asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id">
                            <div class="col-md-12 details">
                                <div class="py-2">
                                    <p class="mb-0">@Model.Prediction</p>
                                    <p>@Model.Location</p>
                                </div>
                                <p class="mb-0">@Model.Thoughts</p>
                                <span class="timestamp" style="font-size: 12px">@Model.TimeStamp</span>
                            </div>
                        </a>
                    </div>
                    <hr />
                    <div class="row">
                        <form method="post" style="width: 100%">
                            <div class="row">
                                <div class="col-3">
                                    <a>
                                        <i class="fa fa-comment"></i>
                                        <span style="font-size: 14px">@Model.PostComments.Count()</span>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <label for="submit_@Model.Id">
                                        @{
                                            var liked = _fixtures.HasLiked(Model.Id, Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)));
                                        }
                                        @if (liked != null)
                                        {
                                            <i class="fa fa-heart liked" id="submit_@Model.Id" onclick="onLike(event)">
                                                <span>@_fixtures.GetCount(Model.Id)</span>
                                            </i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-heart" id="submit_@Model.Id" onclick="onLike(event)">
                                                <span>@_fixtures.GetCount(Model.Id)</span>
                                            </i>
                                        }

                                    </label>
                                </div>
                                <div class="col-3">
                                    <a><i class="fa fa-facebook"></i></a>
                                    <iframe src="" width="67" id="fbshare" data-size="large" height="100" onclick="shareFb(event)" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                                </div>
                                <div class="col-3">
                                    <a><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form method="post">

                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <textarea asp-for="Message" rows="6" class="form-control" placeholder="Write your comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Send</button>
                </form>
            </div>
        </div>


        @foreach (var comment in Model.PostComments)
        {
            <div class="card py-2 mt-2">
                <div class="row">
                    <div class="col-md-2 box1 px-1">
                        @if (comment.UserImage != null)
                        {
                            <img src="~/images/@Model.UserImage" class="rounded-circle" style="width: 100%" asp-append-version="true" />
                        }
                        else
                        {
                            <img src="~/images/no-image.jpeg" class="image" style="border-radius: 50%; width: 100%" asp-append-version="true" />

                        }
                    </div>
                    <div class="col-md-10 box2 px-1">
                        <div class="row">
                            <div class="col-md-5 p-0">
                                @{
                                    var commenter = await userManager.FindByIdAsync(comment.AppUserId.ToString());
                                }
                                <a class="user-name" asp-controller="Profile" asp-action="Index" asp-route-id="@comment.AppUserId"> @commenter.UserName.Split('@')[0]</a>
                                <p class="timestamp">@comment.Time</p>
                            </div>
                            <div class="col-md-7 text-md-right px-1">
                                @foreach (var outcome in comment.Streak)
                                {
                                    @if (outcome.ToLower() == "win")
                                    {
                                        <span class="bg-success px-1" style="min-width:30px">W</span>
                                    }
                                    else if (outcome.ToLower() == "lose")
                                    {
                                        <span class="bg-danger px-1" style="min-width:40px">L</span>
                                    }
                                    else
                                    {
                                        <span class="bg-warning px-1" style="min-width:40px">P</span>
                                    }
                                }
                                <div class="btn-group text-right float-right">
                                    <button type="button" class="border-0 bg-none" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right border-0">
                                        @if (@comment.AppUserId.ToString() == viewer)
                                        {
                                            <form method="post" asp-action="DeleteComment" asp-controller="Post" asp-route-id="@comment.Id" asp-route-postId="@comment.PostId">
                                                <button class="dropdown-item" type="submit"><i class="fa fa-trash float-right" aria-hidden="true"></i></button>
                                            </form>

                                            <a class="dropdown-item" asp-action="EditPost" asp-controller="Post" asp-route-id="@comment.Id"><i class="fa fa-pencil float-right" aria-hidden="true"></i></a>

                                        }
                                        <a class="dropdown-item text-red" asp-action="EditPost" asp-controller="Post"><i class="fa fa-thumbs-down float-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0">
                                <span>@comment.Message</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }


    </div>
</div>

@section scripts {
    <script>
        var href = document.URL;
        var src = `https://www.facebook.com/plugins/share_button.php?href=${href}`;


        function shareFb() {
            console.log(href);
            document.querySelector("#fbshare").src = src;
        }
        shareFb();
    </script>
}