@model Match

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header font-weight-bold">
                @Model.Home vs @Model.Away
                <span class="float-right"><a asp-action="Fixtures" asp-route-country="@Model.Country" asp-route-league="@Model.League" class="btn btn-default border">Back</a></span>
                <p class="font-weight-light">@Model.Country << @Model.League</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-header font-weight-bold">
                1 X 2
            </div>
            <div class="card-body  py-0 picks">
                <ul class="list-group">
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Home" class="full">Home</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Draw" class="full">Draw</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Away" class="full">Away</a></li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header font-weight-bold">
                Double Chance
            </div>
            <div class="card-body py-0 picks">
                <ul class="list-group">
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Home or Draw" class="full">Home or Draw</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Home or Away" class="full">Home or Away</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Draw or Away" class="full">Draw or Away</a></li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header font-weight-bold">
                Overs / Unders 2.5
            </div>
            <div class="card-body py-0 picks">
                <ul class="list-group">
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Under 2.5" class="full">Under 2.5</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Over 2.5" class="full">Over 2.5</a></li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header font-weight-bold">
                Both teams to Score
            </div>
            <div class="card-body py-0 picks">
                <ul class="list-group">
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="GG" class="full">GG</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="NG" class="full">NG</a></li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header font-weight-bold">
                Draw no bet
            </div>
            <div class="card-body py-0 picks">
                <ul class="list-group">
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Home DNB" class="full">Home</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="Away DNB" class="full">Away</a></li>
                </ul>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header font-weight-bold">
                Correct Score
            </div>
            <div class="card-body py-0 picks">
                <ul class="list-group">
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="CS 1 - 0" class="full">1 - 0</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="CS 2 - 0" class="full">2 - 0</a></li>
                    <li class="list-group-item mt-2"><a asp-action="Predict" asp-route-matchId="@Model.MatchId" asp-route-selection="CS 0 - 1" class="full">0 - 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>